*
{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;

}
/* 
html,
body
{
    overflow: hidden;
} */

html{
    background: #1e1a20;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    margin-top: 40px;
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    color: #ffeded;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
    /* max-width: 40%; */
}

.container{
    margin: 20px 20px;

}

section:nth-child(1)
{
    justify-content: flex-start;
}
section:nth-child(2)
{
    justify-content: flex-end;
}
section:nth-child(3)
{
    justify-content: flex-start;
}
h1{
    text-transform: uppercase;

    
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    max-width: 40%;
}
a{
    text-decoration: none;
    color: #ffeded;
}


ul.square{
    list-style-type: circle;

}